* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
    font-size: $base-font-size;
}

body {
    color: rgba(black, 0.87);
    font-family: $font-stack;
    font-size: rem-calc(15px);
}

a {
	color: $link-color;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.keen-docs {
    display: flex;
    height: 100%;
    width: 100%;
	overflow: hidden;
}

.app {
}

.keen-docs-content__page-content {
	top: 52px;
	padding-left: 18.875rem;
	right: 10rem;
	left: 10rem;
	bottom:0;
	position:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
}

.grid-container {
	display: grid;
}

.item1 {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

.item2 {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

//.border {
//	border: 2px solid #3498db; /* Border color */
//	border-radius: 5px; /* Rounded corners */
//	padding: 15px; /* Padding inside the border */
//	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
//	background-color: #f9f9f9; /* Background color */
//	color: #333; /* Text color */
//}

.border {
	border: 3px solid #009688; /* 3px width solid border with a green color */
	border-radius: 8px; /* Rounded corners with a radius of 8 pixels */
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Slightly larger shadow effect */
	padding: 15px; /* Add some padding inside the border */
	background-color: #f1f1f1; /* Light gray background */
	color: #333; /* Dark text color */
	font-family: Arial, sans-serif; /* Font family */
}

.keyboard {
	position: relative;
	background-color: var(--dark-color);
	display: flex;
	overflow: scroll;
	padding-top: 3px;
}
@media (min-width: 800px) {
	.keyboard {
		margin: 0 auto;
		width: 80%;
		padding: 5rem 0 1rem 0;
		border-left: 2rem solid var(--dark-color);
		border-right: 2rem solid var(--dark-color);
		margin-bottom: 2rem;
		border-radius: 5px;
	}
}
canvas {
	opacity : 0; transition: opacity 3s;
	opacity : 1; transition: opacity 1s;
}
#E {
	background: yellow;
}
#B {
	background: #FF7AFE;
}
